*.bc
*.cl
*.cu
*.ll
*.nvvm
*.out
*.s
*.exe
*.so
.vscode
__pycache__
.DS_Store
.cache
build*/
compile_commands.json
vgcore.*
assets/*.aux
assets/*.fdb_latexmk
assets/*.fls
assets/logo.log
assets/logo.pdf
assets/*.synctex.gz
.vscode