*.bc
*.cl
*.cu
*.ll
*.nvvm
*.out
compile_flags.txt
src/compile_flags.txt
src/.project.vim
src/tags
*.s
CMakeCache.txt
CMakeFiles/
build*
docs/.jekyll-cache/
docs/_site/
html
site
src/thorin/config.h
.cache
.idea
cmake-build-debug
