[submodule "abseil-cpp"]
	path = modules/abseil-cpp
	url = ../../abseil/abseil-cpp
[submodule "CLI11"]
	path = modules/CLI11
	url = ../../CLIUtils/CLI11.git
[submodule "doxygen-awesome-css"]
	path = modules/doxygen-awesome-css
	url = ../../jothepro/doxygen-awesome-css.git
[submodule "googletest"]
	path = modules/googletest
	url = ../../google/googletest.git
[submodule "half"]
	path = modules/half
	url = ../../AnyDSL/half.git
