[submodule "googletest"]
	path = googletest
	url = ../../google/googletest.git
[submodule "half"]
	path = half
	url = ../../AnyDSL/half.git
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = ../../jothepro/doxygen-awesome-css.git
[submodule "lyra"]
	path = lyra
	url = ../../bfgroup/lyra.git
