name: linux

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    name: Build and test ${{matrix.build-type}} mode
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [Debug, Release]

    steps:
      - name: Clone recursively
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install valgrind, lit, llvm, and psutil
        run: |
          sudo apt-get update
          sudo apt-get install g++-14 valgrind llvm-20-tools
          sudo pip install lit psutil
          sudo ln -s /usr/bin/FileCheck-20 /usr/local/bin/FileCheck

      - name: Setup ccache
        uses: Chocobo1/setup-ccache-action@v1
        with:
          update_packager_index: false
          ccache_options: max_size=500M
          override_cache_key: ubuntu-latest-ccache-${{matrix.build-type}}

      - name: Configure Debug
        if: matrix.build-type == 'Debug'
        run: |
          CXX=g++-14 cmake -B ${{github.workspace}}/build \
            -DCMAKE_BUILD_TYPE=${{matrix.build-type}}     \
            -DBUILD_TESTING=ON                            \
            -DMIM_BUILD_EXAMPLES=ON                       \
            -DMIM_LIT_TIMEOUT=300

      - name: Configure Release
        if: matrix.build-type == 'Release'
        run: |
          CXX=g++-14 cmake -B ${{github.workspace}}/build \
            -DCMAKE_BUILD_TYPE=${{matrix.build-type}}     \
            -DBUILD_TESTING=ON                            \
            -DMIM_BUILD_EXAMPLES=ON                       \
            -DMIM_LIT_WITH_VALGRIND=ON                    \
            -DMIM_LIT_TIMEOUT=300

      - name: Build
        run: cmake --build ${{github.workspace}}/build -v

      - name: Run lit test suite
        working-directory: ${{github.workspace}}/build
        run: cmake --build ${{github.workspace}}/build -v --target lit

      - name: Test with Valgrind
        working-directory: ${{github.workspace}}/build
        run: ctest --verbose -C ${{matrix.build-type}} --output-on-failure -T memcheck
