name: macos

on:
  push:
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    name: Build and test ${{matrix.build-type}} mode
    runs-on: macos-latest
    strategy:
      matrix:
        build-type: [Debug, Release]

    steps:
      - name: Clone recursively
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        run: |
            python3 -m venv .venv
            source .venv/bin/activate
            pip install lit psutil

      - name: Install LLVM and add to PATH
        run: |
          brew install llvm
          echo "/opt/homebrew/opt/llvm/bin" >> $GITHUB_PATH

      - name: Check FileCheck
        run: |
          which FileCheck
          FileCheck --version

      - name: Setup ccache
        uses: Chocobo1/setup-ccache-action@v1
        with:
          ccache_options: max_size=500M
          override_cache_key: mac-latest-ccache-${{matrix.build-type}}
      #
      - name: Configure
        run: |
          cmake -B ${{github.workspace}}/build \
                -DCMAKE_BUILD_TYPE=${{matrix.build-type}} \
                -DBUILD_TESTING=ON -DMIM_BUILD_EXAMPLES=ON \
                -DMIM_LIT_TIMEOUT=300 \
                -DPython3_EXECUTABLE=${{github.workspace}}/.venv/bin/python3
        # id: configure

          # sed -n -E "s/_Python3_EXECUTABLE:INTERNAL=([a-zA-Z0-9/.]+)$/MIM_PYTHON=\1/p" ${{github.workspace}}/build/CMakeCache.txt >> $GITHUB_ENV
          # -DPython3_ROOT_DIR=${{github.workspace}}/.venv
      # - name: Install FileCheck
      #   uses: robinraju/release-downloader@v1.8
      #   with:
      #     repository: "fodinabor/FileCheckBuild"
      #     latest: true
      #     fileName: ${{ steps.configure.outputs.FILE_NAME }}
      #     out-file-path: bin
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #
      # - name: Install LIT
        # run: |
          # ${MIM_PYTHON} -m pip install lit psutil
          # # ln -s ${{github.workspace}}/bin/${{ steps.configure.outputs.FILE_NAME }} ${{github.workspace}}/bin/FileCheck
          # # chmod +x ${{github.workspace}}/bin/FileCheck

      # - name: Prepare LLVM
      #   run: |
          # LLVM_PATH=${{ env.LLVM_PATH }}
          # LLVM_VERSION=${{ matrix.clang }}
          # echo "SDKROOT=$(xcrun --sdk macosx --show-sdk-path)" >> $GITHUB_ENV
          # echo "CPATH=$LLVM_PATH/lib/clang/$LLVM_VERSION/include/" >> $GITHUB_ENV
          # echo "LDFLAGS=-L$LLVM_PATH/lib" >> $GITHUB_ENV
          # echo "CPPFLAGS=-I$LLVM_PATH/include" >> $GITHUB_ENV
          # echo "CC=$LLVM_PATH/bin/clang" >> $GITHUB_ENV
          # echo "CXX=$LLVM_PATH/bin/clang++" >> $GITHUB_ENV

      - name: Build
        run: cmake --build ${{github.workspace}}/build -v

      - name: Run lit test suite
        working-directory: ${{github.workspace}}/build
        run: |
          export PATH=${{github.workspace}}/bin:$PATH
          cmake --build ${{github.workspace}}/build -v --target lit

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: |
          export PATH=${{github.workspace}}/bin:$PATH
          ctest --verbose -C ${{matrix.build-type}} --output-on-failure
