name: macos

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    name: Build and test ${{matrix.build-type}} mode
    runs-on: macos-latest
    strategy:
      matrix:
        build-type: [Debug, Release]

    steps:
      - name: Clone recursively
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install lit psutil

      - name: Install LLVM and add to PATH
        run: |
          brew install llvm
          echo "/opt/homebrew/opt/llvm/bin" >> $GITHUB_PATH

      - name: Setup ccache
        uses: Chocobo1/setup-ccache-action@v1
        with:
          ccache_options: max_size=500M
          override_cache_key: mac-latest-ccache-${{matrix.build-type}}

      - name: Configure
        run: |
          cmake -B ${{github.workspace}}/build                               \
                -DCMAKE_BUILD_TYPE=${{matrix.build-type}}                    \
                -DBUILD_TESTING=ON -DMIM_BUILD_EXAMPLES=ON                   \
                -DMIM_LIT_TIMEOUT=300                                        \
                -DPython3_EXECUTABLE=${{github.workspace}}/.venv/bin/python3

      - name: Build
        run: cmake --build ${{github.workspace}}/build -v

      - name: Run lit test suite
        working-directory: ${{github.workspace}}/build
        run: |
          export PATH=${{github.workspace}}/bin:$PATH
          cmake --build ${{github.workspace}}/build -v --target lit

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: |
          export PATH=${{github.workspace}}/bin:$PATH
          ctest --verbose -C ${{matrix.build-type}} --output-on-failure
