name: windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    name: Build and test ${{matrix.build-type}} mode
    runs-on: windows-2022
    strategy:
      matrix:
        build-type: [Debug, Release]

    steps:
      - name: Clone recursively
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Configure 
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build-type}} -DTHORIN_BUILD_TESTING=ON

      #- name: Install LLVM and Clang
        #uses: KyleMayes/install-llvm-action@v1.5.2
        #with:
          #version: "14.0.0"

      - name: Build
        run: cmake --build ${{github.workspace}}/build -v --target thorin-gtest thorin thorin_foo

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest --verbose -C ${{matrix.build-type}} --output-on-failure
